.calculator-keys {
    display: grid; /* this will make the div with this class behave like a grid*/
    grid-template-columns: repeat(4, 1fr); /*4 fractional units - Each row contains 4 columns of 1 unit each */

    padding: 20px; /*space around columns*/
}

html {
    font-size: 50%;
    box-sizing: border-box;
    /*box-sizing --- property sets how the total width and height of an element is calculated.*/
    /*border-box --- Tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. This typically makes it much easier to size elements*/
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move the div with this class 50% of it width to the left and 50% of it height up*/
    width: 400px;
}

.calculator-screen {
    width: 371px;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
}

.all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.all-clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 6;
    grid-column-end: 4;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}
