body {
    margin: 0;
    padding: 0;    
    font-family: 'Segoe UI',Helvetica,Arial,Sans-Serif;        
}
.searchbar{
    position: absolute;
    z-index:10;
    background-color:lightgray;
    margin-top:50px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;   
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#select {
    padding:8px 10px;
    margin-top: 10px;   
}
.locate-button {
    position:absolute;
    z-index: 20;
    right: 10px;
    margin-top: 175px;   
}
#locate {
    padding: 20px 16px;
}
#display-search-results {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
#directions-panel {
    max-height: 775px;
    overflow-x: visible;
    overflow-y: auto;
    resize:horizontal;   
}
#myMap {
    
}
.flex-box{
    display:flex;  
}
.local-storage {
    background-color: lightgray;
}