body {
    background-image: url('images/tumblr_ce94adf5c7827a2b312b49a6c7625cb9_19c22742_1280.jpg');
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.main-box {
    display: flex;
    flex-direction: column;
    background-color: magenta;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
}
.dice-sides{
   

}
.dice-amount{
   
}
input{
    font-size: 30px;
}
button {
    font-size: 30px;
    height: 50px;
}
